<div class="login">
    <div class="first">
        <div class="container">
            <p>Sign In</p>
        </div>
    </div>

    <form #formdata="ngForm" (ngSubmit)="onClickSubmit()">
        <div class="details">
            <div class="container">
                <div class="inpt ">
                    <div>
                        <input #Email="ngModel" name="email" ngModel type="email" class="form-control" placeholder="Email" required>
                    </div>
                    <div>
                        <input #Password="ngModel" name="password" ngModel type="password" class="form-control" placeholder="Password" required>
                    </div>
                    <div class="alert alert-danger" *ngIf="services.userSignIn">Email Or Password Is Not Valid.</div>
                    <div class="form-group ">
                        <button class="btn btn-info save" type="submit" [disabled]="!formdata.valid">Login</button>
                    </div>
                    <div class="form-group">
                        <button class="btn  google" (click)="loginwithgoogle()">
                          <img src="assets/image/google.webp">
                          Sign in with google</button>
                    </div>

                </div>
            </div>
        </div>
    </form>

</div>
